<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="cointainer">
            <h1>Login</h1>
            <form action="/login" id="login-form" method="Post">
                <input type="email"     name="email" required placeholder="Username">
                <input type="password"  name="password" placeholder="Password">
                <button id="logn-btn" type="submit">Log In</button>
            </form>
            <div id="create-account">
                <a href="/sign-up"><button id="create-btn">Create Account</button></a>
            </div>
        </div>
    </body>
</html>