<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="/css/signUp.css">
    </head>
    <body>
        <div id="cointainer">
            <h1>Sign Up</h1>
            <form action="/signUp" id="login-form" method="Post">
                <input type="email" id="name-input" name="email" required placeholder="Email">
                <input type="text" id="username" name="name" required placeholder="Name">
                <input type="password" id="passwprd-input" name="password" placeholder="Password">
                <input type="password" id="passwprd-input" name="confirm_password" placeholder="Confirm Password">
                <button id="logn-btn" type="submit">Sign Up</button>
            </form>
        </div>
    </body>
</html>