<!-- <html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/sign.css">
    </head>
    <body>
        <div id="cointainer">
            <h1>Login</h1>
            <form action="/logIn" id="login-form" method="post">
                <input type="email" id="name-input" name="email" required placeholder="Email">
                <input type="password" id="passwprd-input" name="password" required placeholder="Password">
                <button id="logn-btn" type="submit">Log In</button>
            </form>
        </div>
    </body>
</html> -->