<head>
        <title>
               Profile
        </title>
        <link rel="stylesheet" href="/css/profile.css">
</head>
<div id="profile-container">
    <h1>Welcome to <%= myProfile.name %></h1>
    <a href="/log-out" ><button id="logout-btn">Log Out</button></a>
</div>
